html, body {
  height:100%;
  margin:0;
  background:#f3f4f6;
  font-family:'Inter', sans-serif;
}
.sidebar { background:#2E7D32; }
.webix_icon_btn { color:#2E7D32 !important; }
.webix_button:hover { background:#388E3C !important; }
.hapusBtn i, .editBtn i, .deleteBtn i { pointer-events: none; }
